.button {
  color: white;
  background-color: red;
  border-radius: 10pt;
  font-size: large;
  padding: 64pt 32pt;
}

.button:hover {
  background-color: darkred;
  transition-duration: 0.3s;
  transition-delay: -0.1s;
}

.button:focus {
  background-color: darkred;
  transition-duration: 0.3s;
  transition-delay: -0.1s;
}

.hand_container {
  display: flex;
  flex-direction: row;
  padding: 10pt;
}
